body{
  background:#d7d3d3;

}
main{
  width: 100%;
  height: 640px;
  margin: 0 auto;
}
div.all-sections{
  width: 80%;
  height: 90%;
  margin: 0 auto;
}

/*Section entrada de texto*/

.input-text{
  background: #d7d3d3;
  width: 60%;
  height: 100%;
  display: inline-block;
  border-radius: 5px;

}
.codificar-decodificar{
  height: 100%;
}

textarea#input-text{
  background:#d7d3d3;
  border: unset;
  height:80%;
  width: 100%;

  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  font-family: 'Inter';
  font-style: normal;
  /* identical to box height, or 48px */

  /* Dark blue/dark-blue-300 */
  color: #0A3871;
  resize: none;



}


.reglas-text img{


/* Solo letras minúsculas y sin acentos */
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-bottom:1%;

}
.reglas-text p{
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  width: fit-content;
  
  margin: 0;
}


div#buttoms{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

button#codificar{
/* Button */

/* Auto layout */

flex-direction: row;
align-items: flex-start;
padding: 24px 24px 40px 24px;
gap: 8px;

width: 50%;
height: 67px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button text */
text-align: center;



font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

/* White */
color: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


}

button#decodificar{
/* Button */

box-sizing: border-box;

/* Auto layout */

flex-direction: row;
align-items: flex-start;
padding: 24px 24px 40px 24px;
gap: 8px;

width: 50%;
height: 67px;

/* Light gray */
background: #D8DFE8;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */



font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */
color: #0A3871;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


}


/*Section mostrar text*/
section.show-text {
  /* Agregar posicionamiento relativo */
  background-color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 100%;
  border-radius: 15px;
  margin-left: 4%;

  
}

.show-text-resultado{
  height: 100%;
  width: 100%;
}

div.show-text-imprimir{
  width: 100%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

/* Muñeco*/
img.show-text-muneco{
  width:100% ;  
  
}


span.result-text{
  /* Ningún mensaje fue encontrado */

  width: 100%;
  height: 58px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
  text-align: center;

  /* Gray/gray-500 */
  color: #343A40;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

span.action-text{
  /* Ingresa el texto que desees encriptar o desencriptar. */

width: 100%;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: center;

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

div.show-text-msg{
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */

position: relative;
width: 100%;
height: 60%;
left: 2%;
right: 2%;
top: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */

/* Gray/gray-400 */
color: #495057;


}

div.show-text-btn {
  width: 80%;
  text-align: center;
  padding-top: 140px;
  vertical-align: bottom;
  
}

button.copy-text {
  /* Auto layout */
  padding: 24px;
  gap: 8px;
  margin-left: 25%;
  /* Dark blue/dark-blue-300 */
  border: 1px solid #0A3871;
  border-radius: 24px;

  /* Button */
  width: 80%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* Dark blue/dark-blue-300 */
  color: #0A3871;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

